<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css" /> <!-- static path for public folder is already set in app.js -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <article class="widget">
            <form class="weatherLocation"><input placeholder="Enter Location"
                    type="text" /><button>Search</button>
            </form>

            {{!-- <input class="c-checkbox" type="checkbox" id="checkbox">
            <div class="c-formContainer">
                <form class="weatherLocation, c-form" action="">
                    <input class="c-form__input" placeholder="Enter Location" >
        
                    <label class="c-form__buttonLabel" for="checkbox">
                        <button class="c-form__button" type="Submit" value="Submit">Send</button>
                    </label>
                    <label class="c-form__toggle" for="checkbox" data-title="Notify me"></label>
                </form>
            </div> --}}

            <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
            <div class="weatherInfo">
                <div class="temperature"><span></span></div>
                <div class="description">
                    <div class="weatherCondition"></div>
                    <div class="place"></div>
                </div>
            </div>
            <div class="date"></div>
        </article>
    </div>
    <script src="js/app.js"></script> <!-- absolute path -->
</body>

</html>